
<!--=================================
 footer -->
 
<footer class="footer page-section-pt black-bg">
 <div class="container">
  <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-6">
      <div class="footer-useful-link footer-hedding">
        <h6 class="text-white mb-30 mt-10 text-uppercase">Navigation</h6>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 xs-mt-30">
      <div class="footer-useful-link footer-hedding">
        <h6 class="text-white mb-30 mt-10 text-uppercase">Useful Link</h6>
        <ul>
          <li><a href="#">Create Account</a></li>
          <li><a href="#">Company Philosophy</a></li>
          <li><a href="#">Corporate Culture</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Client Management</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 xs-mt-30">
    <h6 class="text-white mb-30 mt-10 text-uppercase">Contact Us</h6>
    <ul class="addresss-info"> 
        <li><i class="fa fa-map-marker"></i> <p>1234 North Avenue Luke Lane South Bend,<br> IN 360001</p> </li>
        <li><i class="fa fa-phone"></i>Phone: +0123 456 789</li>
        <li><i class="fa fa-envelope-o"></i>Email: support@Webster.com</li>
      </ul>
    </div>
<div class="col-lg-4 col-md-6 col-sm-6 xs-mt-30">
<div class="opening-time">
  <h6 class="text-white mb-30 mt-10 text-uppercase">Opening time</h6>
    <ul class="list-unstyled">
      <li>Mon-Friday<span class="pull-right theme-color">8AM - 2PM</span></li>   
      <li>Saturday <span class="pull-right theme-color">10AM - 4PM</span></li>
      <li>Sunday <span class="pull-right theme-color">10AM - 4PM</span></li>
      <li>On public holidays <span class="pull-right theme-color">Closed</span></li>
     </ul>
      </div>
    </div>
   </div>
     <div class="footer-widget mt-20">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Webster</a> All Rights Reserved </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="footer-widget-social text-right">
         <ul> 
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i> </a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
         </ul>
       </div>
      </div>
    </div>    
  </div>
  </div>
</footer>

<!--=================================
 footer -->

</div>

  

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-angle-up"></i> <span>TOP</span></a></div>
 
<!--=================================
 jquery -->

<!-- jquery -->
<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>

<!-- plugins-jquery -->
<script type="text/javascript" src="/js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script type="text/javascript">var plugin_path = '/js/';</script>  
<!-- custom -->
<script type="text/javascript" src="/js/custom.js"></script>
 
</body>
</html>
