<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(/images/color-customizer/main-bg-6.jpg);">
  <div class="container">
    <div class="row"> 
      <div class="col-lg-12"> 
      <div class="page-title-name">
          <h1>blog</h1>
        </div>
          <ul class="page-breadcrumb">
            <li><a href="http://trsport.com.br/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
            <li><a href="http://blog.trsport.com.br">Blog</a> <i class="fa fa-angle-double-right"></i></li>
       </ul>
     </div>
     </div>
  </div>
</section>

<!--=================================
page-title -->